<div fxLayout="row wrap" fxLayoutAlign="center center"  class="min-height">
  <h1 fxFlex="100" fxLayout="row" fxLayoutAlign="center center" >
      <span>Welcome, here</span>
     <mat-icon mat-list-icon svgIcon="emoticon-outline"></mat-icon>
  </h1>
  <p fxFlex="100" fxLayoutAlign="center center">
    There are my assignments from Udemy Course -Angular - The Complete Guide (2020 Edition)
  </p>
  <p fxFlex="100">Directives:</p>
  <p appBasicHighlight fxFlex="100">My first directive (not a good practice)</p>
  <p appBetterHighlight fxFlex="100">A better directive</p>
  <p appInteracitveHighlight fxFlex="100">Interactive directive</p>
</div>
