<mat-sidenav-container fxFlexFill class="sidenav-container">
  <mat-sidenav mode="side" fixedInViewport class="mat-elevation-z3 main-sidenav" #sidenav [(opened)]="isOpened">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary" fxShow.gt-sm="false">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon svgIcon="arrow-collapse-left"></mat-icon>
      </button>
    </mat-toolbar>
    <mat-toolbar color="accent" fxShow.lt-md="false">
      <mat-toolbar-row>
        Udemy Course
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list class="menu">
      <a mat-list-item routerLink="/frontend">
        <mat-icon mat-list-icon svgIcon="airballoon"></mat-icon>
        <span >Frontend</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-between center">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon svgIcon="menu"></mat-icon>
        </button>
<!--        <ng-container *ngTemplateOutlet="header"></ng-container>-->
        <div>
        <button mat-icon-button routerLink="auth" *ngIf="!isAuthenticated" >
          <mat-icon svgIcon="login"></mat-icon>
        </button>
        <button mat-icon-button routerLink="auth" (click)="authService.logout()" *ngIf="isAuthenticated" >
          <mat-icon svgIcon="logout-variant"></mat-icon>
        </button>
        </div>
      </mat-toolbar-row>
      <div>
      </div>
    </mat-toolbar>
    <div  class="padding-container">
      <router-outlet (activate)="componentChangeed($event)" (deactivate)="clearComponent()"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


